# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/

# Virtual environments
.venv/
venv/
ENV/

# Unit test / coverage reports
.pytest_cache/
.coverage
htmlcov/

# OS files
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
